<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <form method="POST" action="#" th:action="@{/register}" th:object="${registerForm}">
        <div>
            <p>社員番号</p>
            <p><input type="text" name="no" th:value="*{no}" /></p>
            <p th:if="${#fields.hasErrors('no')}" th:errors="*{no}">
                社員番号に関するエラー
            </p>
        </div>
        <div>
            <p>メールアドレス</p>
            <p><input type="text" name="email" th:value="*{email}" /></p>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                メールアドレスに関するエラー
            </p>
        </div>
        <div>
            <p>パスワード</p>
            <p><input type="password" name="password" th:value="*{password}" /></p>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                パスワードに関するエラー
            </p>
        </div>
        <div>
            <button type="submit">登録</button>
        </div>
    </form>
</body>
</html>