<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>届出書</title>
</head>
<body>
    <div class="float-end">
      <a th:href="@{/works/todokeList}" class="btn btn-primary">申請登録</a>
    </div>
    <div class="float-end">
      <a th:href="@{/works/todokeInput}" class="btn btn-primary">戻る</a>
    </div>
	<hr>
	<h3>出力概要</h3>
	<hr>
	<ul>
		<li>ヘッダ
		<li>「申請する」ボタン
		<li>氏名：表示
		<li>社員番号：表示
		<li>届出区分：プルダウン（勤務区分当、時間有給休暇）
		<li>届出区分が勤務区分等の時の次の１行目 - 申請区分：プロダウン’（有休、午前有休、午後有休、休日出勤（土曜）、休日出勤（日曜）、振出、欠勤、特休、慶弔、出勤（残業）、教育訓練、休業）
		<li>届出区分が勤務区分等の時の次の２行目 - 対象日：プロダウン’（年、月、日）、曜日表示、チェックボックス：期間指定、期間指定がONの時 - いつまでのプルダウン（年、月、日）、曜日表示、チェックボックス：期間指定（ON）
		<li>届出区分が時間有給休暇の時の次の１行目 - 対象日：プロダウン’（年、月、日）、曜日表示、チェックボックス：期間指定、期間指定がONの時 - いつまでのプルダウン（年、月、日）、曜日表示、チェックボックス：期間指定（ON）
		<li>届出区分が時間有給休暇の時の次の２行目 - 時間有給休暇1：開始時刻プルダウン’（00:00、00:05、00:10、00:15、 ... 23:45）、翌日チェックボックス、時間プルダウン（01:00、02:00、... 08:00）、＋ボタン（＋ボタン押下で時間有給休暇2を表示。2以降は－ボタンも表示（－ボタン押下で選択している時間有給休暇が消える））
		<li>理由テキストエリア
		<li>承認者表示（第一承認者～第四承認者）
		<li>承認履歴表示（何が出力されるかわからない）
		<li>「戻る」ボタン
		<li>「申請する」ボタン
		<li>フッタ
	</ul>

</body>
</html>